* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: white;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #090909;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}

.instagram-phone img {
   height: 67%;
}

#perfil-exemplo {
    margin-left: 3.1rem;
    margin-top: 0.5rem;
    position: absolute;
    border: 0.5px #20202020 solid;
    z-index: 1;
}

.instagram-logo img {
    width: 12.5rem;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.account-change {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    border: 2px solid lightgray;
    border-radius: 4px;
    padding: 20px 50px;
}

.profile-photo img {
    block-size: 100px;
    border-radius: 50%;
    margin: 30px;
}

.insta_login {
    padding: 8px 28px;
    background: #0095f6;
    border-radius: 4px;
    font-weight: bold;
}

.not-account {
    padding-top: 30px;
}

.link-blue a {
    padding-left: 7px;
    font-weight: 500;
    color: #0095f6;
}

.footer {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 100vh;
    margin-left: 100px;
}

.footer ul li {
    font-size: 12px;
    display: inline-block;
    padding: 7px;
    list-style: none;
}

.footer ul {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin-top: 200px;
    margin-bottom: 100px;
}